*{
	margin: 0px;
	padding: 0px;
}
html{
	background: #adadad;
}

#contenedor{
	width: 1050px;
	height: 950px;
	background: rgba(255, 255, 255, 0.884);
	margin: auto;
	margin-top: 10px;

}
header{
	width: 1050px:;
	height: 150px;
	background: #white;
	border: 2px ;
}
h1{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #ffffff;
}
h2{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
	height: 125px;
	width: 450px;
	background: rgb(255, 255, 255);
	float: left;
}
#buscador1{
	height: 75px;
	width: 250px;
	background: rgb(255, 255, 255);
	float: right;
}
nav{
	height: 50px;
	background: rgba(119, 0, 255, 0.74);
	border: 2px solid;
}
header ul{
	list-style: none;
}
header ul li{
	float: right;
	position: top;
}
header a{
	color: #000000;
	padding: 25px;
	line-height: 50px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	

}
nav ul{
	list-style: none;

}
nav ul li{
	float: left;
}
nav a{
	color: #000000;
	padding: 55px;
	line-height: 50px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	

}
main{
	height: 400px;
	background: rgb(255, 255, 255);
}
#izquierda{
	height: 744px;
	width: 140px;
	background: rgba(255, 115, 0, 0.795);
	float: left;
	border: 2px ;
}
#izquierda ul{
	list-style: none;

}

#izquierda a{
	color: #000000;
	padding: 15px;
	line-height: 25px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	

}
#derecha{
	height: 544px;
	width: 140px;
	background: rgba(255, 115, 0, 0.795);
	float: right;
	border: 2px ;
}
#derecha ul{
	list-style: none;

}

#derecha a{
	color: #000000;
	padding: 15px;
	line-height: 25px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	

}
article{
	width: 758px;
	height: 744px;
	background: rgb(255, 255, 255);
	float: left;
	border: 2px;
}
